body {	
    width: 100%;
	background-image: url("../Pildid/back3.jpg");
}
a:link { 
    color: #212121;
	text-decoration: none;
	font-size: 20px;
}
h2 { 
    position: relative; 
}
table { 
	left: 400px;
}
p { 
    font-family: georgian;
	font-size: 20px;
	color: #212121;
	text-align: center;
	font-weight: bold;
}
img { 
	height: 400px;
	width: 600px;
	left: 400px; 
}
#header {	
    color: pink;
	background-color: #C2185B;
	text-align: center;
}
#header h1 {	
    display: inline;
}
#header ul { 
    display: inline;
	list-style: none;
	margin: 30px;
	padding: 0px;
	word-spacing: 20px;
}
#header h1, #header ul { 	
    display: inline-block; 
	width: auto;
}
#header ul li { 
    display: inline;
}
#header ul li a { 	
    text-decoration: none;
	font-size: 60px;
	font-weight: bold;
	color: white;		
}
#header ul li a:hover{ 
    text-decoration: underline;
}
#header h1 { 
    color: pink;
	font-family: italic;
	font-size: 40px;
	text-decoration: none;
	margin: 40px;
	padding: 5px;
	letter-spacing: 10px;	
}
#header  h2 { 
    color: pink;
	font-family: italic;
	font-size: 30px;
	text-decoration: none;
	margin: 40px;
	padding: 10px;
	letter-spacing: 10px;	
}			
#section ul { 
    display: inline;
	list-style: circle url(../Pildid/ring.png);
	list-style-position: inside;
	margin: 10px;
	text-align: center;
}
#section h1, #header ul {	
    display: inline-block;
	width: auto;						
}
#section ul li a { 	
    text-decoration: none;
	font-size: 30px;
    font-weight: bold;
	color: #212121;
	text-align: justify;			
}
#nupud { 		
    margin-left: 1000px;
}
#nupud .custombtn1{		
    background-color: #E91E63;
	border-radius: 28px;
	font-family: Georgia;
	color: #FFFFFF;
	font-size: 24px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
#section  { 	
    width: 900px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	top: 400px;
	left: 500px;
	border: 5px solid #212121;
	padding-bottom: 10px;
	margin: 20px auto;
	border-bottom: 5px solid #212121;
	background-color: #FFCCBC;
}
#section h1 { 
    font-size: 35px;
	font-family: monospace;
	color: #E91E63;
}
#section p { 
    color: #212121;
	font-size: 30px;
	text-align: center;
	font-family: ariel;
	border: 5px double #E91E63;
	background-color: #FFCCBC;
	border-width: 40px;
	top: 500px;
}
#footer{	
    background-color: #E91E63;
	clear: both;
	color: pink;
	text-align: center;
	padding: 4px;
	margin: 5px;
}